{
    "root": true,
    "extends": [],
    "parser": "@typescript-eslint/parser",
    "plugins": [],
    "rules": {
      "@stylistic/physical-property-detected": "off",
      "physical-property-detected": "off"
    }
  }